<?xml version="1.0" ?>
<robot name="m1">
  <mujoco>
    <compiler discardvisual="false" fusestatic="false" strippath="false"/>
  </mujoco>
  <link name="head">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/head.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/head.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0209717 -0.00033650000000000005 0.049644100000000004"/>
      <mass value="3.69961"/>
      <inertia ixx="0.0167288" ixy="-1.66e-06" ixz="-0.000679952" iyy="0.0192853" iyz="1.35e-06" izz="0.0174721"/>
    </inertial>
  </link>
  <link name="l_ee_base">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_ee_base.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_ee_base.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.011465 -2.00782e-05 -0.0034887700000000004"/>
      <mass value="1.02173"/>
      <inertia ixx="0.00064027" ixy="-1.86e-08" ixz="-4.46e-05" iyy="0.000966193" iyz="-3.52e-07" izz="0.000915083"/>
    </inertial>
  </link>
  <link name="l_forearm">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_forearm.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_forearm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="1.76471e-05 -0.006628230000000001 0.0971638"/>
      <mass value="0.399666"/>
      <inertia ixx="0.000848008" ixy="-3.16e-07" ixz="-1.48e-07" iyy="0.000412659" iyz="5.41e-05" izz="0.000729089"/>
    </inertial>
  </link>
  <link name="l_lower_elbow">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_lower_elbow.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_lower_elbow.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.029563500000000003 -0.0567177 -0.000618225"/>
      <mass value="1.46237"/>
      <inertia ixx="0.00358655" ixy="-0.000698465" ixz="2.09e-05" iyy="0.00222726" iyz="4.47e-05" izz="0.00346303"/>
    </inertial>
  </link>
  <link name="l_lower_shoulder">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_lower_shoulder.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_lower_shoulder.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0931846 0.015694100000000002 0.00160216"/>
      <mass value="3.54851"/>
      <inertia ixx="0.00399894" ixy="-0.00305749" ixz="0.000346064" iyy="0.0260441" iyz="5.14e-05" izz="0.0268674"/>
    </inertial>
  </link>
  <link name="l_mid_wrist">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_mid_wrist.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_mid_wrist.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.00227322 0.017307700000000002 0.00352609"/>
      <mass value="1.10598"/>
      <inertia ixx="0.00151821" ixy="-0.000126304" ixz="1.8e-05" iyy="0.00115763" iyz="6.38e-05" izz="0.00188315"/>
    </inertial>
  </link>
  <link name="l_upper_elbow">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_upper_elbow.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_upper_elbow.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0161096 0.00374485 0.17859899999999998"/>
      <mass value="1.5824"/>
      <inertia ixx="0.00184407" ixy="-7.23e-06" ixz="-0.000262217" iyy="0.00238945" iyz="-1.13e-05" izz="0.0017635"/>
    </inertial>
  </link>
  <link name="l_upper_shoulder">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_upper_shoulder.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/l_upper_shoulder.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.000878697 0.0119507 0.045620600000000004"/>
      <mass value="0.876638"/>
      <inertia ixx="0.00154587" ixy="-1.42e-05" ixz="-1.28e-05" iyy="0.0021158" iyz="-0.00026039" izz="0.00200123"/>
    </inertial>
  </link>
  <link name="r_ee_base">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_ee_base.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_ee_base.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.011465 -2.00782e-05 0.0034887700000000004"/>
      <mass value="1.02173"/>
      <inertia ixx="0.00064027" ixy="-1.86e-08" ixz="4.46e-05" iyy="0.000966193" iyz="3.52e-07" izz="0.000915083"/>
    </inertial>
  </link>
  <link name="r_forearm">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_forearm.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_forearm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="1.76471e-05 -0.006628230000000001 -0.0971638"/>
      <mass value="0.399666"/>
      <inertia ixx="0.000848008" ixy="-3.16e-07" ixz="1.48e-07" iyy="0.000412659" iyz="-5.41e-05" izz="0.000729089"/>
    </inertial>
  </link>
  <link name="r_lower_elbow">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_lower_elbow.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_lower_elbow.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.029563500000000003 -0.0567177 0.000618225"/>
      <mass value="1.46237"/>
      <inertia ixx="0.00358655" ixy="-0.000698465" ixz="-2.09e-05" iyy="0.00222726" iyz="-4.47e-05" izz="0.00346303"/>
    </inertial>
  </link>
  <link name="r_lower_shoulder">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_lower_shoulder.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_lower_shoulder.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0931846 0.015694100000000002 -0.00160216"/>
      <mass value="3.54851"/>
      <inertia ixx="0.00399894" ixy="-0.00305749" ixz="-0.000346064" iyy="0.0260441" iyz="-5.14e-05" izz="0.0268674"/>
    </inertial>
  </link>
  <link name="r_mid_wrist">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_mid_wrist.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_mid_wrist.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.00227322 0.017307700000000002 -0.00352609"/>
      <mass value="1.10598"/>
      <inertia ixx="0.00151821" ixy="-0.000126304" ixz="-1.8e-05" iyy="0.00115763" iyz="-6.38e-05" izz="0.00188315"/>
    </inertial>
  </link>
  <link name="r_upper_elbow">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_upper_elbow.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_upper_elbow.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0161096 0.00374485 -0.17859899999999998"/>
      <mass value="1.5824"/>
      <inertia ixx="0.00184407" ixy="-7.23e-06" ixz="0.000262217" iyy="0.00238945" iyz="1.13e-05" izz="0.0017635"/>
    </inertial>
  </link>
  <link name="r_upper_shoulder">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_upper_shoulder.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/r_upper_shoulder.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.000878697 0.0119507 -0.045620600000000004"/>
      <mass value="0.876638"/>
      <inertia ixx="0.00154587" ixy="-1.42e-05" ixz="1.28e-05" iyy="0.0021158" iyz="0.00026039" izz="0.00200123"/>
    </inertial>
  </link>
  <link name="torso">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/torso.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/m1/torso.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.048658 0.000174752 0.221477"/>
      <mass value="30.4724"/>
      <inertia ixx="0.566222" ixy="0.000235247" ixz="-0.00210774" iyy="0.470533" iyz="-0.000139326" izz="0.270508"/>
    </inertial>
  </link>
  <joint name="head.nkz" type="continuous">
    <limit effort="69.12645" velocity="inf"/>
    <dynamics damping="0.12"/>
    <child link="head"/>
    <axis xyz="0 0 1"/>
    <parent link="torso"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.05 0.0 0.474"/>
  </joint>
  <transmission name="head.nkz.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="head.nkz">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="head.nkz">
      <mechanicalReduction>-31.9586</mechanicalReduction>
      <motorInertia>0.00919216902564</motorInertia>
    </actuator>
  </transmission>
  <joint name="larm.wbd" type="revolute">
    <limit effort="69.12645" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.12"/>
    <child link="l_ee_base"/>
    <axis xyz="0 0 1"/>
    <parent link="l_mid_wrist"/>
    <origin rpy="1.5707963267948966 0.0 1.5707963267948966" xyz="0.0 0.069 0.0"/>
  </joint>
  <transmission name="larm.wbd.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="larm.wbd">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="larm.wbd">
      <mechanicalReduction>-31.9586</mechanicalReduction>
      <motorInertia>0.00919216902564</motorInertia>
    </actuator>
  </transmission>
  <joint name="larm.ft" type="continuous">
    <limit effort="69.12645" velocity="inf"/>
    <dynamics damping="0.12"/>
    <child link="l_forearm"/>
    <axis xyz="0 0 1"/>
    <parent link="l_lower_elbow"/>
    <origin rpy="1.5707963267948966 0.0 0.0" xyz="-0.038 -0.05 0.0"/>
  </joint>
  <transmission name="larm.ft.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="larm.ft">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="larm.ft">
      <mechanicalReduction>-31.9586</mechanicalReduction>
      <motorInertia>0.00919216902564</motorInertia>
    </actuator>
  </transmission>
  <joint name="larm.el" type="revolute">
    <limit effort="135.808411" lower="-0.17453292519943295" upper="2.6179938779914944" velocity="inf"/>
    <dynamics damping="0.15"/>
    <child link="l_lower_elbow"/>
    <axis xyz="0 0 1"/>
    <parent link="l_upper_elbow"/>
    <origin rpy="-1.5707963267948966 0.0 0.0" xyz="0.021 0.0 0.185"/>
  </joint>
  <transmission name="larm.el.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="larm.el">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="larm.el">
      <mechanicalReduction>-24.80519</mechanicalReduction>
      <motorInertia>0.019997167155423247</motorInertia>
    </actuator>
  </transmission>
  <joint name="larm.shx" type="revolute">
    <limit effort="135.808411" lower="-0.6108652381980153" upper="2.7576202181510405" velocity="inf"/>
    <dynamics damping="0.15"/>
    <child link="l_lower_shoulder"/>
    <axis xyz="0 0 1"/>
    <parent link="l_upper_shoulder"/>
    <origin rpy="1.5707963267948968 0.08712825287509718 1.5707963267948968" xyz="0.0 0.025 0.07025"/>
  </joint>
  <transmission name="larm.shx.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="larm.shx">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="larm.shx">
      <mechanicalReduction>24.80519</mechanicalReduction>
      <motorInertia>0.019997167155423247</motorInertia>
    </actuator>
  </transmission>
  <joint name="larm.wbp" type="revolute">
    <limit effort="69.12645" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.12"/>
    <child link="l_mid_wrist"/>
    <axis xyz="0 0 1"/>
    <parent link="l_forearm"/>
    <origin rpy="1.5707963267948966 0.0 3.141592653589793" xyz="0.0 0.0 0.1172"/>
  </joint>
  <transmission name="larm.wbp.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="larm.wbp">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="larm.wbp">
      <mechanicalReduction>31.9586</mechanicalReduction>
      <motorInertia>0.00919216902564</motorInertia>
    </actuator>
  </transmission>
  <joint name="larm.shz" type="continuous">
    <limit effort="135.808411" velocity="inf"/>
    <dynamics damping="0.15"/>
    <child link="l_upper_elbow"/>
    <axis xyz="0 0 1"/>
    <parent link="l_lower_shoulder"/>
    <origin rpy="1.5707963267948963 -1.5007707299871638 1.5707963267948963" xyz="0.1 0.025 0.0"/>
  </joint>
  <transmission name="larm.shz.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="larm.shz">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="larm.shz">
      <mechanicalReduction>-24.80519</mechanicalReduction>
      <motorInertia>0.019997167155423247</motorInertia>
    </actuator>
  </transmission>
  <joint name="larm.shy" type="continuous">
    <limit effort="135.808411" velocity="inf"/>
    <dynamics damping="0.15"/>
    <child link="l_upper_shoulder"/>
    <axis xyz="0 0 1"/>
    <parent link="torso"/>
    <origin rpy="-1.4837145452404683 -0.0003587681319874303 -0.06969678543253567" xyz="-0.047 0.1405 0.314"/>
  </joint>
  <transmission name="larm.shy.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="larm.shy">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="larm.shy">
      <mechanicalReduction>-24.80519</mechanicalReduction>
      <motorInertia>0.019997167155423247</motorInertia>
    </actuator>
  </transmission>
  <joint name="rarm.wbd" type="revolute">
    <limit effort="69.12645" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.12"/>
    <child link="r_ee_base"/>
    <axis xyz="0 0 1"/>
    <parent link="r_mid_wrist"/>
    <origin rpy="-1.5707963267948966 0.0 1.5707963267948966" xyz="0.0 0.069 0.0"/>
  </joint>
  <transmission name="rarm.wbd.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rarm.wbd">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rarm.wbd">
      <mechanicalReduction>-31.9586</mechanicalReduction>
      <motorInertia>0.00919216902564</motorInertia>
    </actuator>
  </transmission>
  <joint name="rarm.ft" type="continuous">
    <limit effort="69.12645" velocity="inf"/>
    <dynamics damping="0.12"/>
    <child link="r_forearm"/>
    <axis xyz="0 0 1"/>
    <parent link="r_lower_elbow"/>
    <origin rpy="-1.5707963267948966 0.0 0.0" xyz="-0.038 -0.05 0.0"/>
  </joint>
  <transmission name="rarm.ft.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rarm.ft">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rarm.ft">
      <mechanicalReduction>31.9586</mechanicalReduction>
      <motorInertia>0.00919216902564</motorInertia>
    </actuator>
  </transmission>
  <joint name="rarm.el" type="revolute">
    <limit effort="135.808411" lower="-0.17453292519943295" upper="2.6179938779914944" velocity="inf"/>
    <dynamics damping="0.15"/>
    <child link="r_lower_elbow"/>
    <axis xyz="0 0 1"/>
    <parent link="r_upper_elbow"/>
    <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.021 0.0 -0.185"/>
  </joint>
  <transmission name="rarm.el.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rarm.el">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rarm.el">
      <mechanicalReduction>-24.80519</mechanicalReduction>
      <motorInertia>0.019997167155423247</motorInertia>
    </actuator>
  </transmission>
  <joint name="rarm.shx" type="revolute">
    <limit effort="135.808411" lower="-0.6108652381980153" upper="2.7576202181510405" velocity="inf"/>
    <dynamics damping="0.15"/>
    <child link="r_lower_shoulder"/>
    <axis xyz="0 0 1"/>
    <parent link="r_upper_shoulder"/>
    <origin rpy="-1.5707963267948968 -0.08712825287509696 1.5707963267948968" xyz="0.0 0.025 -0.07025"/>
  </joint>
  <transmission name="rarm.shx.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rarm.shx">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rarm.shx">
      <mechanicalReduction>24.80519</mechanicalReduction>
      <motorInertia>0.019997167155423247</motorInertia>
    </actuator>
  </transmission>
  <joint name="rarm.wbp" type="revolute">
    <limit effort="69.12645" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.12"/>
    <child link="r_mid_wrist"/>
    <axis xyz="0 0 1"/>
    <parent link="r_forearm"/>
    <origin rpy="-1.5707963267948966 0.0 3.141592653589793" xyz="0.0 0.0 -0.1172"/>
  </joint>
  <transmission name="rarm.wbp.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rarm.wbp">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rarm.wbp">
      <mechanicalReduction>-31.9586</mechanicalReduction>
      <motorInertia>0.00919216902564</motorInertia>
    </actuator>
  </transmission>
  <joint name="rarm.shz" type="continuous">
    <limit effort="135.808411" velocity="inf"/>
    <dynamics damping="0.15"/>
    <child link="r_upper_elbow"/>
    <axis xyz="0 0 1"/>
    <parent link="r_lower_shoulder"/>
    <origin rpy="-1.5707963267948963 1.5007707299871638 1.5707963267948963" xyz="0.1 0.025 0.0"/>
  </joint>
  <transmission name="rarm.shz.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rarm.shz">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rarm.shz">
      <mechanicalReduction>24.80519</mechanicalReduction>
      <motorInertia>0.019997167155423247</motorInertia>
    </actuator>
  </transmission>
  <joint name="rarm.shy" type="continuous">
    <limit effort="135.808411" velocity="inf"/>
    <dynamics damping="0.15"/>
    <child link="r_upper_shoulder"/>
    <axis xyz="0 0 1"/>
    <parent link="torso"/>
    <origin rpy="-1.6578781083493253 -0.0003587681319874303 0.06969678543253564" xyz="-0.047 -0.1405 0.314"/>
  </joint>
  <transmission name="rarm.shy.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rarm.shy">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rarm.shy">
      <mechanicalReduction>24.80519</mechanicalReduction>
      <motorInertia>0.019997167155423247</motorInertia>
    </actuator>
  </transmission>
  <fixed_frame name="head_imu_frame">
    <parent link="head"/>
    <origin rpy="0.0 -0.9072978840284617 3.141592653589793" xyz="0.05 -0.0224 0.101"/>
  </fixed_frame>
  <!--Begin hardcoded wrist tip. Originating from xacro_writer.py-->
  <!--Adding zero-mass link after physical wrist FT sensor to properly attach FT sensor-->
  <link name="l_ee_hand"/>
  <joint name="l_ee_hand_fixed_joint" type="fixed">
    <child link="l_ee_hand"/>
    <axis xyz="0 0 1"/>
    <parent link="l_ee_base"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <fixed_frame name="l_ee_hand_wrench_sensor_frame">
    <parent link="l_ee_hand"/>
    <origin rpy="-0.0 1.5707963057214722 0.0" xyz="0.048748 0.0 0.0"/>
  </fixed_frame>
  <!--End hardcoded wrist tip. Originating from xacro_writer.py-->
  <!--Begin hardcoded wrist tip. Originating from xacro_writer.py-->
  <!--Adding zero-mass link after physical wrist FT sensor to properly attach FT sensor-->
  <link name="r_ee_hand"/>
  <joint name="r_ee_hand_fixed_joint" type="fixed">
    <child link="r_ee_hand"/>
    <axis xyz="0 0 1"/>
    <parent link="r_ee_base"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <fixed_frame name="r_ee_hand_wrench_sensor_frame">
    <parent link="r_ee_hand"/>
    <origin rpy="-0.0 1.5707963057214722 0.0" xyz="0.048748 0.0 0.0"/>
  </fixed_frame>
  <fixed_frame name="rgb0_frame">
    <parent link="head"/>
    <origin rpy="3.141592653589793 1.3786937973025921 3.141592653589793" xyz="0.095 -0.013 -0.0095"/>
  </fixed_frame>
  <mujoco_camera fovy="106.0" mode="fixed" name="rgb0_camera" resolution="640 474">
    <parent link="head"/>
    <origin rpy="3.141592653589793 1.3786937973025921 3.141592653589793" xyz="0.095 -0.013 -0.0095"/>
  </mujoco_camera>
  <fixed_frame name="rgb1_frame">
    <parent link="head"/>
    <origin rpy="-1.308841365989595 1.5707963267948966 0.0" xyz="0.033 0.084 0.063"/>
  </fixed_frame>
  <mujoco_camera fovy="106.0" mode="fixed" name="rgb1_camera" resolution="640 474">
    <parent link="head"/>
    <origin rpy="-1.308841365989595 1.5707963267948966 0.0" xyz="0.033 0.084 0.063"/>
  </mujoco_camera>
  <fixed_frame name="rgb2_frame">
    <parent link="head"/>
    <origin rpy="1.308841365989595 1.5707963267948966 0.0" xyz="0.033 -0.084 0.063"/>
  </fixed_frame>
  <mujoco_camera fovy="106.0" mode="fixed" name="rgb2_camera" resolution="640 474">
    <parent link="head"/>
    <origin rpy="1.308841365989595 1.5707963267948966 0.0" xyz="0.033 -0.084 0.063"/>
  </mujoco_camera>
  <fixed_frame name="stereo0_frame">
    <parent link="head"/>
    <origin rpy="2.4780942108233583 0.0 1.5707963267948966" xyz="0.1105 0.0 0.0505"/>
  </fixed_frame>
  <mujoco_camera fovy="58.0" mode="fixed" name="stereo0_camera" resolution="640 426">
    <parent link="head"/>
    <origin rpy="2.4780942108233583 0.0 1.5707963267948966" xyz="0.1105 0.0 0.0505"/>
  </mujoco_camera>
  <fixed_frame name="stereo0_left_frame">
    <parent link="head"/>
    <origin rpy="2.4780942108233583 0.0 1.5707963267948966" xyz="0.110235 -0.0475 0.050838999999999995"/>
  </fixed_frame>
  <fixed_frame name="stereo0_right_frame">
    <parent link="head"/>
    <origin rpy="2.4780942108233583 0.0 1.5707963267948966" xyz="0.110235 0.0475 0.050838999999999995"/>
  </fixed_frame>
  <fixed_frame name="stereo1_frame">
    <parent link="head"/>
    <origin rpy="1.5187912086912982 0.0 1.5707963267948966" xyz="0.1035 0.0 0.033"/>
  </fixed_frame>
  <mujoco_camera fovy="58.0" mode="fixed" name="stereo1_camera" resolution="640 426">
    <parent link="head"/>
    <origin rpy="1.5187912086912982 0.0 1.5707963267948966" xyz="0.1035 0.0 0.033"/>
  </mujoco_camera>
  <fixed_frame name="stereo1_left_frame">
    <parent link="head"/>
    <origin rpy="1.5187912086912982 0.0 1.5707963267948966" xyz="0.103071 -0.0475 0.032977"/>
  </fixed_frame>
  <fixed_frame name="stereo1_right_frame">
    <parent link="head"/>
    <origin rpy="1.5187912086912982 0.0 1.5707963267948966" xyz="0.103071 0.0475 0.032977"/>
  </fixed_frame>
  <fixed_frame name="tof0_frame">
    <parent link="head"/>
    <origin rpy="3.141592653589793 1.2566357594744715 3.141592653589793" xyz="0.0935 0.013 -0.0195"/>
  </fixed_frame>
  <mujoco_camera fovy="120.0" mode="fixed" name="tof0_camera" resolution="512 512">
    <parent link="head"/>
    <origin rpy="3.141592653589793 1.2566357594744715 3.141592653589793" xyz="0.0935 0.013 -0.0195"/>
  </mujoco_camera>
  <link name="l_f0dist_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f0dist_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f0dist_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0297365 -0.000949624 0.00031117499999999996"/>
      <mass value="0.0671978"/>
      <inertia ixx="6.81979e-06" ixy="-4.1535e-07" ixz="-8.42325e-09" iyy="1.82765e-05" iyz="-3.87258e-11" izz="1.59078e-05"/>
    </inertial>
  </link>
  <link name="l_f0prox_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f0prox_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f0prox_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.04429930000000001 -0.00017715700000000003 0.000195832"/>
      <mass value="0.139091"/>
      <inertia ixx="1.38809e-05" ixy="-2.86826e-07" ixz="1.09628e-06" iyy="7.30245e-05" iyz="-1.07451e-08" izz="7.1111e-05"/>
    </inertial>
  </link>
  <link name="l_f1dist_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f1dist_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f1dist_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0297365 -0.000949624 0.00031117499999999996"/>
      <mass value="0.0671978"/>
      <inertia ixx="6.81979e-06" ixy="-4.1535e-07" ixz="-8.42325e-09" iyy="1.82765e-05" iyz="-3.87258e-11" izz="1.59078e-05"/>
    </inertial>
  </link>
  <link name="l_f1prox_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f1prox_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f1prox_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.04429930000000001 -0.00017715700000000003 0.000195832"/>
      <mass value="0.139091"/>
      <inertia ixx="1.38809e-05" ixy="-2.86826e-07" ixz="1.09628e-06" iyy="7.30245e-05" iyz="-1.07451e-08" izz="7.1111e-05"/>
    </inertial>
  </link>
  <link name="l_f2dist_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f2dist_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f2dist_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0297365 -0.000949624 0.00031117499999999996"/>
      <mass value="0.0671978"/>
      <inertia ixx="6.81979e-06" ixy="-4.1535e-07" ixz="-8.42325e-09" iyy="1.82765e-05" iyz="-3.87258e-11" izz="1.59078e-05"/>
    </inertial>
  </link>
  <link name="l_f2prox_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f2prox_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_f2prox_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.04429930000000001 -0.00017715700000000003 0.000195832"/>
      <mass value="0.139091"/>
      <inertia ixx="1.38809e-05" ixy="-2.86826e-07" ixz="1.09628e-06" iyy="7.30245e-05" iyz="-1.07451e-08" izz="7.1111e-05"/>
    </inertial>
  </link>
  <link name="l_gripper_base">
    <visual>
      <geometry>
        <mesh filename="meshes/gr2/l_gripper_base.stl"/>
      </geometry>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/gr2/l_gripper_base.stl"/>
      </geometry>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0"/>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0013199099999999999 -0.00587754 0.030133"/>
      <mass value="0.468734"/>
      <inertia ixx="0.000393104" ixy="-1.65423e-05" ixz="4.69691e-06" iyy="0.000367934" iyz="9.07396e-05" izz="0.000324319"/>
    </inertial>
  </link>
  <link name="l_palm_rot_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_palm_rot_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/l_palm_rot_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0129272 -0.0359394 -0.0108108"/>
      <mass value="0.168895"/>
      <inertia ixx="9.98783e-05" ixy="-8.98751e-06" ixz="-2.66045e-06" iyy="7.1679e-05" iyz="-2.13152e-05" izz="5.24085e-05"/>
    </inertial>
  </link>
  <joint name="lhand.f0.dist" type="revolute">
    <limit effort="3.4" lower="-2.007128639793479" upper="2.007128639793479" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="l_f0dist_link"/>
    <axis xyz="0 0 1"/>
    <parent link="l_f0prox_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.07225 0.0 0.0"/>
  </joint>
  <transmission name="lhand.f0.dist.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lhand.f0.dist">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lhand.f0.dist">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="lhand.f0.prox" type="revolute">
    <limit effort="3.4" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="l_f0prox_link"/>
    <axis xyz="0 0 1"/>
    <parent link="l_gripper_base"/>
    <origin rpy="-3.141592653589793 1.5707963057214722 0.0" xyz="-0.015 -0.02075 0.06725"/>
  </joint>
  <transmission name="lhand.f0.prox.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lhand.f0.prox">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lhand.f0.prox">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="lhand.f1.dist" type="revolute">
    <limit effort="3.4" lower="-2.007128639793479" upper="2.007128639793479" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="l_f1dist_link"/>
    <axis xyz="0 0 1"/>
    <parent link="l_f1prox_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.07225 0.0 0.0"/>
  </joint>
  <transmission name="lhand.f1.dist.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lhand.f1.dist">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lhand.f1.dist">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="lhand.f1.prox" type="revolute">
    <limit effort="3.4" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="l_f1prox_link"/>
    <axis xyz="0 0 1"/>
    <parent link="l_gripper_base"/>
    <origin rpy="-3.141592653589793 1.5707963057214722 0.0" xyz="0.015 -0.02075 0.06725"/>
  </joint>
  <transmission name="lhand.f1.prox.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lhand.f1.prox">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lhand.f1.prox">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="lhand.f2.dist" type="revolute">
    <limit effort="3.4" lower="-2.007128639793479" upper="2.007128639793479" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="l_f2dist_link"/>
    <axis xyz="0 0 1"/>
    <parent link="l_f2prox_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.07225 0.0 0.0"/>
  </joint>
  <transmission name="lhand.f2.dist.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lhand.f2.dist">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lhand.f2.dist">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="lhand.f2.prox" type="revolute">
    <limit effort="3.4" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="l_f2prox_link"/>
    <axis xyz="0 0 1"/>
    <parent link="l_palm_rot_link"/>
    <origin rpy="1.5707963267948968 -1.3959503859687479 1.5707963267948968" xyz="-0.015 -0.047684 -0.040079000000000004"/>
  </joint>
  <transmission name="lhand.f2.prox.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lhand.f2.prox">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lhand.f2.prox">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="lhand.f2.thum" type="revolute">
    <limit effort="3.4" lower="-3.141592653589793" upper="0.0" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="l_palm_rot_link"/>
    <axis xyz="0 0 1"/>
    <parent link="l_gripper_base"/>
    <origin rpy="-2.9667467127636455 0.0 3.141592653589793" xyz="0.03 0.01925 0.0195"/>
  </joint>
  <transmission name="lhand.f2.thum.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lhand.f2.thum">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lhand.f2.thum">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <fixed_frame name="l_f0t_frame">
    <parent link="l_f0dist_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.062 0.0 0.0"/>
  </fixed_frame>
  <fixed_frame name="l_f1t_frame">
    <parent link="l_f1dist_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.062 0.0 0.0"/>
  </fixed_frame>
  <fixed_frame name="l_f2t_frame">
    <parent link="l_f2dist_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.062 0.0 0.0"/>
  </fixed_frame>
  <link name="r_f0dist_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f0dist_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f0dist_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0297365 -0.000949624 0.00031117499999999996"/>
      <mass value="0.0671978"/>
      <inertia ixx="6.81979e-06" ixy="-4.1535e-07" ixz="-8.42325e-09" iyy="1.82765e-05" iyz="-3.87258e-11" izz="1.59078e-05"/>
    </inertial>
  </link>
  <link name="r_f0prox_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f0prox_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f0prox_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.04429930000000001 -0.00017715700000000003 0.000195832"/>
      <mass value="0.139091"/>
      <inertia ixx="1.38809e-05" ixy="-2.86826e-07" ixz="1.09628e-06" iyy="7.30245e-05" iyz="-1.07451e-08" izz="7.1111e-05"/>
    </inertial>
  </link>
  <link name="r_f1dist_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f1dist_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f1dist_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0297365 -0.000949624 0.00031117499999999996"/>
      <mass value="0.0671978"/>
      <inertia ixx="6.81979e-06" ixy="-4.1535e-07" ixz="-8.42325e-09" iyy="1.82765e-05" iyz="-3.87258e-11" izz="1.59078e-05"/>
    </inertial>
  </link>
  <link name="r_f1prox_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f1prox_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f1prox_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.04429930000000001 -0.00017715700000000003 0.000195832"/>
      <mass value="0.139091"/>
      <inertia ixx="1.38809e-05" ixy="-2.86826e-07" ixz="1.09628e-06" iyy="7.30245e-05" iyz="-1.07451e-08" izz="7.1111e-05"/>
    </inertial>
  </link>
  <link name="r_f2dist_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f2dist_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f2dist_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0297365 -0.000949624 0.00031117499999999996"/>
      <mass value="0.0671978"/>
      <inertia ixx="6.81979e-06" ixy="-4.1535e-07" ixz="-8.42325e-09" iyy="1.82765e-05" iyz="-3.87258e-11" izz="1.59078e-05"/>
    </inertial>
  </link>
  <link name="r_f2prox_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f2prox_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_f2prox_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.04429930000000001 -0.00017715700000000003 0.000195832"/>
      <mass value="0.139091"/>
      <inertia ixx="1.38809e-05" ixy="-2.86826e-07" ixz="1.09628e-06" iyy="7.30245e-05" iyz="-1.07451e-08" izz="7.1111e-05"/>
    </inertial>
  </link>
  <link name="r_gripper_base">
    <visual>
      <geometry>
        <mesh filename="meshes/gr2/r_gripper_base.stl"/>
      </geometry>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/gr2/r_gripper_base.stl"/>
      </geometry>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0013199099999999999 0.00587754 0.030133"/>
      <mass value="0.468734"/>
      <inertia ixx="0.000393104" ixy="1.65423e-05" ixz="4.69691e-06" iyy="0.000367934" iyz="-9.07396e-05" izz="0.000324319"/>
    </inertial>
  </link>
  <link name="r_palm_rot_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_palm_rot_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="meshes/gr2/r_palm_rot_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0131471 -0.0369485 0.010602"/>
      <mass value="0.175237"/>
      <inertia ixx="0.000100629" ixy="-8.09337e-06" ixz="2.67506e-06" iyy="7.47308e-05" iyz="2.12384e-05" izz="5.07691e-05"/>
    </inertial>
  </link>
  <joint name="rhand.f0.dist" type="revolute">
    <limit effort="3.4" lower="-2.007128639793479" upper="2.007128639793479" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="r_f0dist_link"/>
    <axis xyz="0 0 1"/>
    <parent link="r_f0prox_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.07225 0.0 0.0"/>
  </joint>
  <transmission name="rhand.f0.dist.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rhand.f0.dist">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rhand.f0.dist">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="rhand.f0.prox" type="revolute">
    <limit effort="3.4" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="r_f0prox_link"/>
    <axis xyz="0 0 1"/>
    <parent link="r_gripper_base"/>
    <origin rpy="-0.0 1.5707963057214722 0.0" xyz="-0.015 0.02075 0.06725"/>
  </joint>
  <transmission name="rhand.f0.prox.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rhand.f0.prox">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rhand.f0.prox">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="rhand.f1.dist" type="revolute">
    <limit effort="3.4" lower="-2.007128639793479" upper="2.007128639793479" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="r_f1dist_link"/>
    <axis xyz="0 0 1"/>
    <parent link="r_f1prox_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.07225 0.0 0.0"/>
  </joint>
  <transmission name="rhand.f1.dist.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rhand.f1.dist">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rhand.f1.dist">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="rhand.f1.prox" type="revolute">
    <limit effort="3.4" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="r_f1prox_link"/>
    <axis xyz="0 0 1"/>
    <parent link="r_gripper_base"/>
    <origin rpy="-0.0 1.5707963057214722 0.0" xyz="0.015 0.02075 0.06725"/>
  </joint>
  <transmission name="rhand.f1.prox.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rhand.f1.prox">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rhand.f1.prox">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="rhand.f2.dist" type="revolute">
    <limit effort="3.4" lower="-2.007128639793479" upper="2.007128639793479" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="r_f2dist_link"/>
    <axis xyz="0 0 1"/>
    <parent link="r_f2prox_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.07225 0.0 0.0"/>
  </joint>
  <transmission name="rhand.f2.dist.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rhand.f2.dist">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rhand.f2.dist">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="rhand.f2.prox" type="revolute">
    <limit effort="3.4" lower="-1.5707963267948966" upper="1.5707963267948966" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="r_f2prox_link"/>
    <axis xyz="0 0 1"/>
    <parent link="r_palm_rot_link"/>
    <origin rpy="-1.5707963267948968 1.395950385968748 1.5707963267948968" xyz="-0.015 -0.047684 0.040079000000000004"/>
  </joint>
  <transmission name="rhand.f2.prox.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rhand.f2.prox">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rhand.f2.prox">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <joint name="rhand.f2.thum" type="revolute">
    <limit effort="3.4" lower="-3.141592653589793" upper="0.0" velocity="inf"/>
    <dynamics damping="0.008"/>
    <child link="r_palm_rot_link"/>
    <axis xyz="0 0 1"/>
    <parent link="r_gripper_base"/>
    <origin rpy="-0.1748459408261475 0.0 3.141592653589793" xyz="0.03 -0.01925 0.0195"/>
  </joint>
  <transmission name="rhand.f2.thum.transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rhand.f2.thum">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rhand.f2.thum">
      <mechanicalReduction>113.90625</mechanicalReduction>
      <motorInertia>0.0010379707031249999</motorInertia>
    </actuator>
  </transmission>
  <fixed_frame name="r_f0t_frame">
    <parent link="r_f0dist_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.062 0.0 0.0"/>
  </fixed_frame>
  <fixed_frame name="r_f1t_frame">
    <parent link="r_f1dist_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.062 0.0 0.0"/>
  </fixed_frame>
  <fixed_frame name="r_f2t_frame">
    <parent link="r_f2dist_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.062 0.0 0.0"/>
  </fixed_frame>
  <joint name="l_gripper_base" type="fixed">
    <child link="l_gripper_base"/>
    <parent link="l_ee_hand"/>
    <origin rpy="-0.0 1.5707963057214722 0.0" xyz="0.0655 0.0 0.0"/>
  </joint>
  <joint name="r_gripper_base" type="fixed">
    <child link="r_gripper_base"/>
    <parent link="r_ee_hand"/>
    <origin rpy="-0.0 1.5707963057214722 0.0" xyz="0.0655 0.0 0.0"/>
  </joint>
</robot>
